name: Python clashproxy update

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "0 2 * * *"
    # 每天伦敦时间2点执行，对应北京时间10点
jobs:
  build:
    runs-on: ubuntu-latest
    # 指定一下任务运行的系统环境
 
    steps:
    - name: checkout actions
    - uses: actions/checkout@v2

    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Update proxy lists
      run: |
        python main.py
        
    - name: commit
      run: |
        git config --global user.email 1917984861@qq.com
        git config --global user.name chaoranzhi
        git add .
        git commit -m "update" -a
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
